<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap"
      rel="stylesheet"
    /> -->

    <link
      href="//db.onlinewebfonts.com/c/0b28d43e90a11a93d935b305ff2cefb2?family=Font+Awesome+5+Pro"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../../scss/layout/_landing.scss" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7fa95d1a39.js"
      crossorigin="anonymous"
    ></script>

    <title>Awesome Profile Cards</title>
  </head>
  <body>
    <main class="main-landing wrapper-landing">
      <img
        src="../../images/logo-awesome-profile-cards.svg"
        alt="logo-awesome-profile-cards"
      />
      <h1>Crea tu tarjeta de visita</h1>
      <p>
        <span>Crea mejores contactos profesionales de</span>
        <span>forma fácil y cómoda</span>
      </p>
      <article class="steps-landing">
        <div>
          <span class="icon-landing"
            ><i class="fas fa-object-ungroup"></i
          ></span>
          <span class="text-landing">Diseña</span>
        </div>
        <div>
          <span class="icon-landing"><i class="fas fa-keyboard"></i></span>
          <span class="text-landing">Rellena</span>
        </div>
        <div>
          <span class="icon-landing"><i class="fas fa-share-alt"></i></span>
          <span class="text-landing">Comparte</span>
        </div>
      </article>
      <a class="button-start" href="#" title="more reasons">comenzar</a>
    </main>
    <footer class="footer-landing wrapper-landing">
      <span>Awesome profile-cards @2018</span>
      <img src="../../images/logo-adalab.png" alt="logo-adalab" />
    </footer>
  </body>
</html>
