<main class="main-landing wrapper-landing">
  <img
    src="./assets/images/logo-awesome-profile-cards.svg"
    alt="logo-awesome-profile-cards"
  />
  <h1>Crea tu tarjeta de visita</h1>
  <p>
    <span>Crea mejores contactos profesionales de</span>
    <span>forma fácil y cómoda</span>
  </p>
  <article class="steps-landing">
    <div>
      <span class="icon-landing"><i class="fas fa-object-ungroup"></i></span>
      <span class="text-landing">Diseña</span>
    </div>
    <div>
      <span class="icon-landing"><i class="fas fa-keyboard"></i></span>
      <span class="text-landing">Rellena</span>
    </div>
    <div>
      <span class="icon-landing"><i class="fas fa-share-alt"></i></span>
      <span class="text-landing">Comparte</span>
    </div>
  </article>
  <a class="button-start" href="#" title="more reasons">comenzar</a>
</main>
