<div class="fillOut js-arrow">
  <div class="fillOut__title">
    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
    <h2>Rellena</h2>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
  <div class="js-collapsed">
    <div class="fillOut__form">
      <div class="item">
        <label for="fullName"
          >Nombre completo
          <input
            type="text"
            class="js-input-name"
            id="fullname"
            name="fullname"
            placeholder="Ej: Jon Nieve"
            required
          />
        </label>
      </div>
      <div class="item">
        <label for="job"
          >Puesto
          <input
            type="text"
            class="js-input-job"
            id="job"
            name="job"
            placeholder="Ej: front-end unicorn"
            required
          />
        </label>
      </div>
      <div class="item">
        <label for="addImage"
          >Imagen de perfil
          <div class="fillOut-image">
            <input
              type="button"
              id="addImage"
              name="addImage"
              value="Añadir imagen"
              class="fillOut-button"
              required
            />
            <input
              type="text"
              id="addImage"
              name="addImage"
              class="textImage"
            />
          </div>
        </label>
      </div>
      <div class="item">
        <label for="emailAddress"
          >Email
          <input
            type="email"
            class="js-input-mail"
            id="emailAddress"
            name="emailAddress"
            placeholder="Ej: jon-nieve@gmail.com"
            required
          />
        </label>
      </div>
      <div class="item">
        <label for="telephone"
          >Teléfono
          <input
            type="tel"
            class="js-input-phone"
            id="telephone"
            name="telephone"
            placeholder="Ej: 123456789"
            pattern="[0-9]{9}"
          />
        </label>
      </div>
      <div class="item">
        <label for="linkedin"
          >Linkedin
          <input
            type="text"
            class="js-input-linkedin"
            id="linkedin"
            name="linkedin"
            placeholder="Ej: linkedin.com/in/jon.nieve"
            required
          />
        </label>
      </div>
      <div class="item">
        <label for="github"
          >Github
          <input
            type="text"
            class="js-input-github"
            id="github"
            name="github"
            placeholder="Ej: @jon-nieve"
            required
          />
        </label>
      </div>
    </div>
  </div>
</div>
