<script
  src="https://kit.fontawesome.com/d000050c19.js"
  crossorigin="anonymous"
></script>

<div>
  <div>
    <i class="far fa-keyboard"></i>
    <h2>Rellena</h2>
  </div>
  <div>
    <label for="fullName"
      >Nombre completo
      <input
        type="text"
        id="fullname"
        name="fullname"
        placeholder="Ej: Jon Nieve"
        required
      />
    </label>
    <label for="position"
      >Nombre completo
      <input
        type="text"
        id="position"
        name="position"
        placeholder="Ej: front-end unicorn"
        required
      />
    </label>
    <label for="addImage"
      >Imagen de perfil
      <input
        type="button"
        id="addImage"
        name="addImage"
        value="Añadir imagen"
        required
      />
    </label>
    <label for="emailAddress"
      >Email
      <span>*</span>
      <input
        type="email"
        id="emailAddress"
        name="emailAddress"
        placeholder="Ej: jon-nieve@gmail.com"
        required
      />
    </label>
    <label for="telephone"
      >Teléfono
      <input
        type="tel"
        id="telephone"
        name="telephone"
        placeholder="Ej: 123456789"
        pattern="[0-9]{9}"
      />
    </label>
    <label for="linkedin"
      >Linkedin
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        placeholder="Ej: 123456789"
        required
      />
    </label>
    <label for="Github"
      >Github
      <input
        type="text"
        id="Github"
        name="Github"
        placeholder="Ej: 123456789"
        required
      />
    </label>
  </div>
</div>
