<div class="box__share js-collapsed">
  <div class="share__menu js-arrow">
    <div class="content__title">
      <i class="icon fas fa-share-alt"></i>
      <h2 class="titleMenu">comparte</h2>
    </div>
    <i class="fa fa-chevron-up"></i>
  </div>
  <div class="share__content js-hidden hidden">
    <button
      type="submit"
      name="share"
      value="share"
      class="share__content__button js-share"
    >
      <i class="far fa-address-card"></i>
      <span>CREAR TARJETA</span>
    </button>
  </div>
  <div class="text__share js-textShare hidden">
    <h5 class="text__share__create">La tarjeta ha sido creada:</h5>
    <span class="text__share__link"
      >https://awsome-profile-card.com?id=A456DF0001</span
    >
    <button
      type="submit"
      name="twitter"
      value="twitter"
      class="text__share__button js-twitter"
    >
      <i class="fab fa-twitter"></i>
      <span>Compartir en twitter</span>
    </button>
  </div>
</div>
