body {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}

.fillOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 281px;
  margin: auto;
  border-bottom: 1px solid #d8d8d8;
}
.fillOut__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.fa-keyboard-o {
  color: #e17334;
  margin-right: 10px;
}
.fa-chevron-down {
  color: #54585a;
}
.item {
  margin-bottom: 20px;
}

.fillOut__form {
  font-size: 14px;
  width: 100%;
}
.fillOut-image {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.fillOut-image .textImage {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 20px;
}
.fillOut-image .fillOut-button {
  background-color: #e17334;
  color: white;
  border: #e17334;
  width: 140px;
  height: 30px;
  border-radius: 3px;
}

.fillOut__form input {
  display: block;
  border: 1px solid #a2deaf;
  color: #c5c5c5;
  width: 100%;
}
input:focus,
textarea:focus {
  border-color: #e17334;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #e17334;
  outline: 0 none;
}
input::placeholder {
  color: #c5c5c5;
}
label {
  color: #114e4e;
}

@media all and (min-width: 768px) {
}
