body {
  font-size: rem(16);
  font-family: 'Open Sans', sans-serif;
}

.fillOut {
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $color-line;

  &__title {
    display: flex;
    height: 41px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: $color-text-primary;
    cursor: pointer;

    & .content__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-transform: uppercase;
      font-size: 18px;
      padding-left: 10px;
    }
    .fa-keyboard-o {
      color: $color-primary;
      font-size: 18px;
    }
    .fa-chevron-down {
      color: $color-text-primary;
      font-size: 18px;
    }
  }

  &__form {
    font-size: rem(14);
    width: 100%;

    .item {
      margin-bottom: 20px;
    }

    .fillOut-image {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;

      /* .textImage {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-left: 20px;
      }
      .fillOut-button {
        background-color: $color-primary;
        color: white;
        border: $color-primary;
        width: 140px;
        height: 30px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 1s ease;
        box-shadow: none;
        outline: none;
        &:hover {
          background-color: $color-p1-primary-dark;
        }
        &:focus {
          border: 2px solid $color-primary;
        }
      } */
    }
    input {
      border: 1px solid $color-p1-primary-light;
      color: $color-text-primary;
      width: 100%;
      padding: 4px 9px;
      margin-top: 7px;
    }
    input:focus,
    textarea:focus {
      border-color: $color-primary;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
        0 0 8px $color-primary;
      outline: 0 none;
    }
    input::placeholder {
      color: $color-text-light;
    }
    label {
      color: $color-p1-primary-dark;
    }
  }
}

/* ESTILOS AÑADIR FOTO */
.action {
  text-align: center;
}
.action__upload-btn {
  background-color: $color-primary;
  color: white;
  border: $color-primary;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 1s ease;
  box-shadow: none;
  outline: none;
  &:hover {
    background-color: $color-p1-primary-dark;
  }
  &:focus {
    border: 2px solid $color-primary;
  }
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile__preview {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
@media all and (min-width: 768px) {
}
