body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}

.fillOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 281px;
  margin: auto;
  border-bottom: 1px solid $color-line;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: $color-text-primary;
    h2 {
      text-transform: uppercase;
    }
    .fa-keyboard-o {
      color: $color-secondary;
      margin-right: 10px;
    }
    .fa-chevron-down {
      color: $color-text-primary;
    }
  }

  &__form {
    font-size: 14px;
    width: 100%;

    .item {
      margin-bottom: 20px;
    }

    .fillOut-image {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      .textImage {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-left: 20px;
      }
      .fillOut-button {
        background-color: $color-secondary;
        color: white;
        border: $color-secondary;
        width: 140px;
        height: 30px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 1s ease;
        box-shadow: none;
        &:hover {
          background-color: $color-p1-primary-dark;
        }
        &:focus {
          border: 2px solid $color-secondary;
        }
      }
    }
    input {
      display: block;
      border: 1px solid $color-p1-primary-light;
      color: $color-text-light;
      width: 100%;
      padding: 4px 9px;
    }
  }
  input:focus,
  textarea:focus {
    border-color: $color-secondary;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #e17334;
    outline: 0 none;
  }
  input::placeholder {
    color: $color-text-light;
  }
  label {
    color: $color-p1-primary-dark;
  }
}

@media all and (min-width: 768px) {
}
